{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content%}
<div class="menu-container">
    <h1>STAFF LOGIN</h1>
    <h3 style="font-style: italic; color: #5C4033'">Restaurant Management Portal</h3>
    <div class="form-box">
    <div class="button-box">
        <div id="btn"></div>
        <button type="button" class="toggle-btn" onclick="leftClick()">Customer</button>
        <button type="button" class="toggle-btn" onclick="rightClick()">Staff</button>
    </div>
    </div>
    {%if error %}
    <p style="color: #8B0000; text-align: center; background: #FFE6E6; padding: 15px;
      border-radius: 8px; margin: 20px auto; max-width: 500px;">
        {{ error }}
    </p>
    {% endif %}

    <form method="POST" style="max-width: 400px; margin: 40px auto;">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required autofocus>

         <label for="password">Password</label>
        <input type="text" id="password" name="password" required autofocus>

        <input type="submit" value="LOGIN">
    </form>
    <p style="text-align: center; margin-top: 30px; color: #5C4033; font-size: 14px;">
        <a href="{{ url_for('general.home_page') }}"
           style="color: #8B0000; text-decoration: none;">← Back to Main Site</a>
    </p>
</div>
<script>
    var btn = document.getElementById('btn')
    btn.style.left = '110px';

    function leftClick() {
        btn.style.left = '0';
        setTimeout(function() {
            window.location.href = "{{ url_for('customer_auth.login') }}";
        }, 500);
    }

    function rightClick() {
        btn.style.left = '110px';
        setTimeout(function() {
            window.location.href = "{{ url_for('staff.staff_login') }}";
        }, 500);
    }
</script>
{% endblock %}