
body {
    background-color: #FFFDD0;
    margin: 0;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #013d38;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111613;
}

.content {
    margin-left: 220px;
    padding: 20px;
}

table {
    width: 60%;
    border: 2.5px solid #01796f;
    border-collapse: collapse;
    background-color: #CFB291;
    margin-bottom: 20px;
}

th {
    background-color: #008080;
    color: white;
    border: 2.5px solid #008080;
    padding: 8px;
}

td {
    background-color: #FFFDD0;
    border: 2.5px solid #008080;
    padding: 8px;
}

"""Hover Effect"""
tr:hover td {
    background-color: #f0e6d2;
}


.edit-icon {
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 1s ease, transform 2s ease;
    margin-left: 8px;
    cursor: pointer;
}

td:hover .edit-icon {
    opacity: 5;
    transform: translateX(0);
}

.clear-btn {
    background-color: #008080;
    color: white;
    border: none;
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
.clear-btn:hover {
    background-color: #111613;
}

input[type="text"],
textarea {
    border: 2px solid #008080;   
    border-radius: 6px;          
    padding: 10px;               
    font-size: 15px;             
    background-color: #FFFDD0;   
    width: 60%;                  
    margin-bottom: 12px;        
}


input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #006666;       
    box-shadow: 0 0 4px rgba(0, 128, 128, 0.5);
}

.add-task-btn {
    background-color: #008080;   
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.add-task-btn:hover {
    background-color: #006666;   
}
