{% extends "base.html" %}
{% block title %}Add Task{% endblock %}

{% block content %}
<div style="margin-left: 220px; padding-top: 40px;">
    <h1>Add Task</h1>

    <form method="POST" action="{{ url_for('add_task') }}">
        <label>Task Name:</label>
        <input type="text" name="Task Name" required>
        <br><br>

        <label>Task Description:</label>
        <input type="text" name="Task Description">
        <br><br>

        <label for="due_date">Due Date:</label>
        <input type="date" id="due_date" name="due_date">
        <br><br>

        <label>Priority:</label>
        <input type="radio" name="priority" value="low"> Low
        <input type="radio" name="priority" value="medium"> Medium
        <input type="radio" name="priority" value="high"> High
        <br><br>

        <button type="submit" class="add-task-btn">Add Task</button>
    </form>
</div>
{% endblock %}