{% extends "base.html" %}

{% block content %}
<h1>Edit Task</h1>

<form method="POST">
    <label>Task Name</label>
    <input type="text" name="title" value="{{ task.task_name }}" required>

    <br>

    <label>Priority</label>
    <input type="text" name="priority" value="{{ task.priority }}">

    <br>

    <label>Due Date</label>
    <input type="date" name="due_date" value="{{ task.due_date }}">

    <br>
    <div class="save-btn">
        <button type="submit" class="add-task-btn">Save</button>
    </div>
</form>
{% endblock %}
