<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 3px solid black;
            border-collapse: collapse;
            border-color: #01796f;
            background-color: #C6AA58;
        }
    </style>
    <meta charset="UTF-8">
    <title>Task Manager</title>
</head>
<body>

    <h1 style="text-align:center;">My Tasks <br><br><br></h1>


    <h1>Add Task</h1>
    <form method="POST" action="/add">
        Task Name: <input type="text" name="Task Name">
        <br><br>
        Task Description: <input type="text" name="Task Description">
        <button type="submit" name="Add Task" value="Add Task">Add Task</button>
    </form>
    <br><br><br><br>


    <h1>Active Tasks</h1>
    <table style="width:60%">
        <tr>
            <th>Task Number</th>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Action</th>
            <th>Added Date</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.number }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td>

                <form method="POST" action="/complete">
                    <input type="checkbox" name="task_number" value="{{ task.number }}" onclick="this.form.submit()">
                </form>
            </td>
            <td>{{ task.date }}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br>


    <h1>Completed Tasks</h1>
    <table style="width:60%">
        <tr>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Date Completed</th>
        </tr>
        {% for task in completed_tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.date }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>