{% extends "base.html" %}
{% block title %}Tasks{% endblock %}

{% block content %}

<h1 style="text-align:center;">My Tasks</h1>


<h1>Active Tasks</h1>

{% if tasks %}
    <table>
        <tr>
            <th>Task Number</th>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Priority</th>
            <th>Action</th>
            <th>Added Date</th>
        </tr>

        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>
                {{ task.task_name }}
                <a href="/edit/{{ task.id }}" class="edit-icon">🖉</a>
            </td>
            <td>
                {{ task.task_description }}
                <a href="/edit/{{ task.id }}" class="edit-icon">🖉</a>
            </td>
            <td>
                {{ task.priority }}
            </td>
            <td>
                <form method="POST" action="/complete">
                    <input type="checkbox" name="task_number" value="{{ task.id }}" onclick="this.form.submit()">
                </form>
            </td>
            <td>{{ task.added_date }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No active tasks yet.</p>
{% endif %}

<br><br>

<h1>Completed Tasks</h1>
<form method="POST" action="/clear_completed" style="margin-bottom: 15px;">
    <button class="clear-btn" type="submit">Clear Completed Tasks</button>
</form>
{% if completed_tasks %}
    <table>
        <tr>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Priority</th>
            <th>Date Completed</th>
        </tr>
        {% for task in completed_tasks %}
        <tr>
            <td>{{ task.task_name }}</td>
            <td>{{ task.task_description }}</td>
            <td>
                  {% if task.priority == 'low' %}
                    <span style="color:red; font-weight:bold;">Low</span>
                  {% elif task.priority == 'medium' %}
                    <span style="color:orange;">Medium</span>
                  {% else %}
                    <span style="color:green;">High</span>
                  {% endif %}
            </td>
            <td>{{ task.completed_date }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No completed tasks yet.</p>
{% endif %}

{% endblock %}
