{% extends "base.html" %}
{% block title %}Profile Settings{% endblock %}

{% block content %}
<div style="margin-left:220px; padding-top:40px;">
    <h1>Update Your Details</h1>

    <form method="POST" action="{{ url_for('auth.update_details') }}">
        <label>New Username:</label><br>
        <input type="text" name="username" value="{{user.user_name}}"><br><br>

        <label>New Email:</label><br>
        <input type="email" name="email" value="{{ user.user_email}}"><br><br>

        <label>New Password:</label><br>
        <input type="password" name="password"><br><br>

        <label>Confirm Password:</label><br>
        <input type="password" name="confirm"><br><br>

        <button type="submit" class="add-task-btn">Save Changes</button>
    </form>
</div>
{% endblock %}